#!/bin/sh
set -a

# Modify these variable if you are NOT using docker desktop
# See https://www.terraform.io/docs/language/settings/backends/kubernetes.html for configuration options 
KUBE_CONFIG_PATH=${HOME}/.kube/config
KUBECONFIG=${KUBE_CONFIG_PATH}
KUBE_CTX=docker-desktop

#Github variables
TF_VAR_github_org=<github-org>
TF_VAR_pipeline_library_repo_name=<github-repo-name>
TF_VAR_github_token=<your-github-token>

#(Optional) PUT this in .<tf-workspace>.env to enable github oauth for that workspace
TF_VAR_administrator_user=<your-admin-user/jenkins-github-serviceaccount-user>
TF_VAR_github_oauth_client_id=<your-github-client-id>
TF_VAR_github_oauth_client_secret=<your-github-client-secret>


set +a
